<body class="text-center">
    <main class="form-signin w-100 m-auto">

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

            <img class="mb-4" src="../../../../assets/bootstrap-logo.svg" alt="" width="72" height="57">

            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>


            <div class="form-floating">
                <input formControlName="firstName" type="text" class="form-control" id="floatingFirstName"
                    placeholder="First Name" [ngClass]="{'is-invalid':submitted&& component.firstName.errors}">
                <label for="floatingFirstName">First Name</label>
                <div>
                    <small style="color: red;" *ngIf="submitted && component.firstName.errors?.required">Name must not
                        be
                        empty</small>
                    <small style="color: red;"
                        *ngIf="submitted && (component.firstName.errors?.maxlength ||component.firstName.errors?.minlength )">Namespace
                        must be between 3-50 characters</small>
                </div>
            </div>

            <div class="form-floating">
                <input formControlName="lastName" type="text" class="form-control" id="floatingLastName"
                    placeholder="Last Name" [ngClass]="{'is-invalid':submitted&& component.lastName.errors}">
                <label for="floatingLastName">Last Name</label>
                <div>
                    <small style="color: red;" *ngIf="submitted && component.lastName.errors?.required">Name must not be
                        empty</small>
                    <small style="color: red;"
                        *ngIf="submitted && (component.lastName.errors?.maxlength ||component.lastName.errors?.minlength )">Namespace
                        must be between 3-50 characters</small>
                </div>
            </div>

            <div class="form-floating">
                <input formControlName="username" type="text" class="form-control" id="floatingUsername"
                    placeholder="Username" [ngClass]="{'is-invalid':submitted&& component.username.errors}">
                <label for="floatingUsername">Username</label>
                <div>
                    <small style="color: red;" *ngIf="submitted && component.username.errors?.required">Username must
                        not
                        be empty</small>
                </div>
            </div>

            <div class="form-floating">
                <input formControlName="email" type="email" class="form-control" id="floatingEmail"
                    placeholder="name@example.com" [ngClass]="{'is-invalid':submitted&& component.email.errors}">
                <label for="floatingEmail">Email address</label>
                <div>
                    <small style="color: red;" *ngIf="submitted && component.email.errors?.required">Email must not be
                        empty</small>
                    <small style="color: red;" *ngIf="submitted && component.email.errors?.email">Not a valid email
                        address</small>
                </div>
            </div>

            <div class="form-floating ">
                <input formControlName="password" type="password" class="form-control mb-lg-0" id="floatingPassword"
                    placeholder="Password" [ngClass]="{'is-invalid':submitted&& component.password.errors}">
                <label for="floatingPassword">Password</label>
                <div>
                    <small style="color: red;" *ngIf="submitted && component.password.errors?.required">Password must
                        not
                        be empty</small>
                    <small style="color: red;" *ngIf="submitted && component.password.errors?.minlength">Password must
                        not
                        be empty</small>
                </div>
            </div>
            <div class="form-floating">
                <input formControlName="passwordAgain" type="password" class="form-control mb-lg-0"
                    id="floatingPasswordAgain" placeholder="Password"
                    [ngClass]="{'is-invalid':submitted&& component.passwordAgain.errors}">
                <label for="floatingPasswordAgain">Password Again</label>
                <div>
                    <small style="color: red;" *ngIf="submitted && form.hasError('notSame')">Passwords did not
                        match</small>
                </div>
            </div>

            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign Up</button>

            <p class="mt-5 mb-3 text-muted">&copy; 2022</p>

        </form>
    </main>
</body>