<body class="text-center">
    <main class="form-signin w-100 m-auto">


        <img class="mb-4" src="../../../../assets/bootstrap-logo.svg" alt="" width="72" height="57">

        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

        <div class="form-floating">
            <input #txtUsernameOrEmail formControlName="username" type="text" class="form-control" id="floatingUsername"
                placeholder="Username">
            <label for="floatingUsername">Username or Email</label>
            <div>
                <small style="color: red; display: none;">Username must
                    not be empty</small>
            </div>
        </div>

        <div class="form-floating ">
            <input #txtPassword formControlName="password" type="password" class="form-control mb-lg-0"
                id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            <div>
                <small style="color: red; display: none;">Password must
                    not be empty</small>
            </div>
        </div>


        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit"
            (click)="login(txtUsernameOrEmail.value,txtPassword.value)">Login</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>


    </main>
</body>