<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" routerLink="">Shopping App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="products">Products</a>
                        </li>


                        <button class="btn btn-outline-success" type="submit" *ngIf="authService.isAuthenticated"><a
                                routerLink="admin">Admin</a></button>
                    </ul>

                    <form class="navbar-nav mx-auto">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>


                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <div class="dropdown dropleft">
                                <a class="btn btn-sm">Basket</a>
                                <div class="dropdown-content">
                                    <app-baskets></app-baskets>
                                </div>
                              </div>
                        </li>


                        <li class="nav-item mx-2">
                            <a class="btn btn-sm btn-outline-secondary" type="submit"
                                *ngIf="!authService.isAuthenticated" routerLink="login">Login</a>
                        </li>

                        <li class="nav-item">
                            <button class="btn btn-sm btn-outline-secondary" type="submit"
                                *ngIf="!authService.isAuthenticated" routerLink="register">Register</button>
                        </li>

                        <li class="nav-item">
                            <button class="btn btn-sm btn-outline-secondary" style="color: red;cursor: pointer;"
                                (click)="signOut()" type="submit" *ngIf="authService.isAuthenticated">Sign Out</button>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-2"></div>
</div>


<ngx-spinner size="default" name="s1" type="ball-running-dots"></ngx-spinner>
<ngx-spinner size="default" name="s2" type="ball-fall"></ngx-spinner>
<ngx-spinner size="default" name="s3" type="ball-scale-multiple"></ngx-spinner>