:host {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.product-create{
    position: relative;
    margin: auto;
    width: 65%;
}

.button{
    width: 20%;
    position: relative;
    margin: auto;
    background-color: #4BB543;
}