<h2 mat-dialog-title>Order Detail</h2>


<div class="row p-4">
    <div class="col-5 pull-right">
        <span id="heading">Order No.</span><br>
        <span id="details">{{singleOrder.orderCode}}</span>
    </div>
    <div class="col-7">
        <span id="heading">Date</span><br>
        <span id="details">{{singleOrder.createdDate |date:'short'}}</span>
    </div>
</div>    
<div class="row p-4">
    <div class="col-5 pull-right">
        <span id="heading">Address</span><br>
        <span id="details">{{singleOrder.address}}</span>
    </div>
    <div class="col-7">
        <span id="heading">Description</span><br>
        <span id="details">{{singleOrder.description}}</span>
    </div>
</div>    

<mat-dialog-content class="mat-typography">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 order-detail-table">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
      
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">{{element.price | currency:'TRY':'₺'}}</td>
        </ng-container>
      
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
        </ng-container>
      
        <!-- TotalPrice Column -->
        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef>Total Price</th>
          <td mat-cell *matCellDef="let element" style="color: green;">{{(element.price*element.quantity)|currency:'TRY':'₺'}}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            (click)="clickedRows.add(row)"
            [class.order-detail-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns;"
        ></tr>
    </table>

    <div class="d-flex justify-content-end p-5">
        <div class="col-example">Total Price : </div>
        <div class="col-example px-5" style="color: green;font-weight: bold;">{{totalPrice|currency:'TRY':'₺'}}</div>
        
      </div>

 

 
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Exit</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="completeOrder()" *ngIf="!singleOrder.completed">Complete Order</button>
</mat-dialog-actions>