<h1 mat-dialog-title   matBadge="{{rolesComponent.selectedOptions.selected.length}}/{{roles.totalRoleCount}}" matBadgeOverlap="false" matBadgeColor="accent">{{data.name}} Set Role</h1>
<div mat-dialog-content>
  <p> Set Role</p>
</div>

<mat-selection-list #rolesComponent>
  <mat-list-option *ngFor="let role of listRoles" selected="{{role.selected}}">
    {{role.name}}
  </mat-list-option>
</mat-selection-list>


<div mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="assignRoles(rolesComponent)">Save Roles</button>
</div>